<table>
    <tr>
        <td id ="three">---------------------------</td>
        <td id ="three">-----------------comment-----------------</td>
        <td id ="three">---------------------------</td>
    </tr>
    <tr>
        <td>작성자</td>
        <td colspan=2>-</td>

    </tr>
    <tr>
        <td>댓글내용</td>
        <td colspan=2>-</td>

    </tr>
</table>