<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if(checkpw=="nono") { %>
        <script>alert('비밀번호가 일치하지 않습니다.')</script>
    <form action="/user2/check_password_process" method="POST">
    <p>현재 비밀번호를 입력하세요</p>
        <p><input type="password" name="password" placeholder="현재 비밀번호" style="ime-mode:inactive" required></p>
        <p><input type="submit" value="확인"></p>
    </form>
    <%} else {%>
        <form action="/user2/check_password_process" method="POST">
            <p>현재 비밀번호를 입력하세요</p>
                <p><input type="password" name="password" placeholder="현재 비밀번호" style="ime-mode:inactive" required></p>
                <p><input type="submit" value="확인"></p>
            </form>


        <% } %> 
</body>
</html>