<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/edit_password.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        body{
            padding-top:200px;}
        form{
            width:400px; margin: 0 auto;}
        input[type="password"]{
            height: 30px; width: 280px;}
        input[type="submit"]{
            margin-top: 20px;
            height: 40px; width: 280px;
            background-color: cornflowerblue;
            color: white;
            border-radius: 50px;
        }
    </style>
    <form action="/user2/pw_update_process" method="POST" onsubmit="return submitCheck()">
        
        <span><h1>새 비밀번호</h1></span>
        
        <span><input type="password" name="password" id="pw" placeholder="새 비밀번호" style="ime-mode:inactive" onkeyup="noSpaceForm(this)" required></span>
        <br id="pw_form_check_br" />
        <p id="pw_form_guide"></span>

        <span><h1>새 비밀번호 확인</h1></span>
        
        <span><input type="password" name="password_check" id="pw2" placeholder="새 비밀번호 확인" style="ime-mode:inactive" onkeyup="noSpaceForm(this)" required></span>
        <br id="pw2_form_check_br" />
        <p id="pw2_form_guide"></span>
        <span><input type="submit" value="확인"></span>
    </form>

</body>

</html>