<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>잘못된 접근 입니다.</h1>
<h2>권한 밖의 요청입니다.</h2>
<h3><button><a href="/" style="text-decoration: none; color: cornflowerblue;">홈 으로 돌아가기</a></button></h3>
</body>
</html>