
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <link rel="stylesheet" href="stylesheets/login.css">
     <meta charset="UTF-8">
     <title>로그인</title>
 </head>
 <body>
 
    <div class="d2vts_title">
        <h1><a href="/">D2VTS</a></h1>
    </div>

     <section class="login">
         <h2>로그인</h2>
         <form action="/user2/login" method="post">
         <input type="hidden" name="before_url" value="<%=before_url%>">
         <ul>
             <li><input type="text" placeholder="아이디" name="id" title="아이디입력"></li>
             <li><input type="password" placeholder="비밀번호" name="password" title="비밀번호입력"></li>
             <li><button>로그인</button></li>
             <li style="text-align: center; "><a href="/sign_up" style="color: cornflowerblue;">회원가입</a></li>
         </ul>
        </form>
     </section>
 
 </body>
 </html>


