<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../stylesheets/index.css">
    <script>
        function confirm_withdraw() {
            var confirm_delete_account = confirm('계정을 삭제하시겠습니까?')
            if (confirm_delete_account == true) {
                location.href = "/user2/delete";
            } else {
                return;
            }
        }
        </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header_up">
            <a class="h_ups" id="home_icon" href="https://github.com/d2vts/board_web_site"><img src="../../images/github70.png" alt="github"></a>
            <h1 class="h_ups" id="main_title"><a href="/" style="color: cornflowerblue;">D2VTS</a></h1>
            <% if(sess.idx){ %>
              <div class="h_ups" id=login_div>
                <button class="loginbtns" onclick="location.href='/logout' "><a href="/logout" class="loginbtns" id="logout_btn">&nbsp;로그아웃</a></button>
              </div>
              <% } else{ %>
                <div class="h_ups" id=login_div>
                    <button class="loginbtns" onclick="location.href='/sign_up' "><a href="/sign_up"  id="sign_up_btn">&nbsp;회원가입&nbsp;</a></button>
                    <button class="loginbtns" onclick="location.href='/login' "><a href="/login"  id="login_btn">&nbsp;로그인&nbsp;</a></button>
                </div>
            <% } %>
          </div>
        </header>
    <h2>반갑습니다 <%=sess.nickname%> 님</h2>

    <div style="border: 1px solid gray; text-align: center;">

        <p>
            <span>
                <button style="width: 100px; background-color: cornflowerblue; border-radius: 30px;" onclick="location.href='/user2/mypage/edit_profile'">
            <a style="width: 100px;text-decoration: none; color:white"href="/user2/mypage/edit_profile">내 정보 수정</a>
        </button>
    </span>
</p>
        <p>
            <span>
                <button style="width: 100px; background-color: cornflowerblue; border-radius: 30px;" onclick="location.href='/user2/check_password'">
                    <a style="width: 100px;text-decoration: none; color:white"href="/user2/check_password">비밀번호 변경</a>
                </button>
            </span>
        </p>
        <p>
            <span>
                <button style="width: 100px; background-color: cornflowerblue;color:white; border-radius: 30px;" onclick="confirm_withdraw()">회원탈퇴</button>
            </span>
        </p>
    </div>
</body>
</html>
