<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            padding-top:300px;
            width: 1000px;
            margin: 0 auto;
            text-align: center;
        }
        button{
            width: 600px;
            height: 150px;
            border-radius: 80px;
            background-color: cornflowerblue;
        }
        a{
            text-decoration: none;
            font-size: 50px;
            color: white;
            font-weight: bold;
        }
        button:hover > a{
            font-size: 60px;}
    </style>
</head>

<body>
    <div>
        <h1>준비중입니다. 차후 추가예정입니다.</h1>
        <button><a href="/">홈으로 돌아가기</a></button>
    </div>
</body>

</html>